@model Corrector.Models.Questao

@{
    ViewData["Title"] = "Criar";
}

<h1>Criar</h1>

<h4>Questao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Criar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NumeroQuetao" class="control-label"></label>
                <input asp-for="NumeroQuetao" class="form-control" />
                <span asp-validation-for="NumeroQuetao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resposta" class="control-label"></label>
                <input asp-for="Resposta" class="form-control" />
                <span asp-validation-for="Resposta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gabarito" class="control-label"></label>
                <input asp-for="Gabarito" class="form-control" />
                <span asp-validation-for="Gabarito" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ponto" class="control-label"></label>
                <input asp-for="Ponto" class="form-control" />
                <span asp-validation-for="Ponto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
